{% extends 'layouts/base.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
</head>

<body>

    <div class="index">
        <h1 class="titulo">{{title}} </h1>
        <img src="{% static 'todolist.png' %}" alt="" width="70">
    </div>
    <div class="textDescripcion">
        <p>
            Bienvenido a nuestra plataforma de gestión de tareas, desarrollada con Django. Con nuestra aplicación,
            puedes organizar tus proyectos de manera eficiente y llevar un seguimiento de tus tareas pendientes de forma
            fácil y rápida. <br>
            Esta tiene una pequeña base de datos la cual todas las tareas y proyectos se van a ir guardando inmediatamente. 

        </p>
 

    {% endblock %}

</body>

</html>